/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.font-soft-0 {
		font-variation-settings: 'SOFT' 0, 'WONK' 0;
	}

	.font-soft-25 {
		font-variation-settings: 'SOFT' 25, 'WONK' 0;
	}

	.font-soft-50 {
		font-variation-settings: 'SOFT' 50, 'WONK' 0;
	}

	.font-soft-100 {
		font-variation-settings: 'SOFT' 100, 'WONK' 0;
	}

	.wp-admin-bar-offset {
		@apply wp-logged-in-mobile:top-[46px] wp-logged-in:top-[32px];
	}

	.wp-admin-bar-pt {
		@apply wp-logged-in-mobile:pt-[46px] wp-logged-in:pt-[32px];
	}
}
